@model RealEstateMVC.properties

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("")
        </dt>

        <dd>
            <img src=@Url.Content(String.Format("~/Image/{0}", @Model.image)) width="310" height="225" style="border-radius:2px;" />
        </dd>

        <br />
        <br />

        <dt>
            @Html.Raw("Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.Raw("")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal)
            @Html.Raw(" ")
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.Raw("Country")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.Raw("Price")
        </dt>

        <dd>
            @Html.Raw(String.Format("{0:C2}", @Model.price))
        </dd>

        <dt>
            @Html.Raw("Built Year")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.built_year)
        </dd>

        <dt>
            @Html.Raw("# Rooms")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_of_rooms)
        </dd>

        <dt>
            @Html.Raw("Area Size")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area_size)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.property_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
