@model RealEstateMVC.properties

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Property</h2>


@using (Html.BeginForm(Html.BeginForm("Edit", "Property", FormMethod.Post)))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.property_id)
    <form class="form-horizontal">
        <fieldset>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3"></div>


                    <div class="col-sm-6">
                        <!--BEGIN OF FIRST COLUMN-->
                        
                        <!--ADRESS-->
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <div>
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <!--POSTAL-->
                        <div class="form-group">
                            <label class="control-label">Postal Code</label>
                            <div>
                                @Html.EditorFor(model => model.postal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.postal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <!--CITY-->
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <div>
                                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <!--COUNTRY-->
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <div>
                                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <!--PRICE-->
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            <div>
                                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <!--TYPE-->
                        <div class="form-group">
                            <label class="control-label">Type House</label>
                            <div>
                                @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <br />

                        <!--BUILT YEAR-->
                        <div class="form-group">
                            <label class="control-label">Built Year</label>
                            <div>
                                @Html.EditorFor(model => model.built_year, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.built_year, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <!--ROOMS-->
                        <div class="form-group">
                            <label class="control-label">Number of Rooms</label>
                            <div>
                                @Html.EditorFor(model => model.number_of_rooms, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.number_of_rooms, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />

                        <!--AREA SIZE-->
                        <div class="form-group">
                            <label class="control-label">Area Size</label>
                            <div>
                                @Html.EditorFor(model => model.area_size, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.area_size, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <!--END OF FIRST COLUMN-->
                    </div>
                    
                    
                    <div class="col-sm-3"></div>
                </div>

                <br />

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5">
                        <!--SUBMIT BUTTON-->
                        <div class="form-group">
                            <div>
                                <input id="btnEdit" type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>


        </fieldset>
        </form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
