@model RealEstateMVC.properties

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Houses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblHouses">
    @foreach (var item in @ViewBag.Properties) {
    <tr>
        <td>
            <img src=@Url.Content(String.Format("~/Image/{0}", item.image)) width="250" height="250" />
        </td>
        <td>
            @Html.Raw(item.address)
        </td>
        <td>
            @Html.Raw(item.postal + " " + item.city) 
        </td>
        <td>
           <b>@Html.Raw(String.Format("{0:C2}", item.price))</b>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.property_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.property_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.property_id })
        </td>
    </tr>
    }

</table>
