@model RealEstateMVC.properties

@{
    ViewBag.Title = "Houses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = @ViewBag.CurrentUser;
}

<h2>Available Houses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<br />

<table class="table" id="tblHouses">

    @for(var i = 0; i < ViewBag.Properties.Count; i++){
        
        var count = 0;
        var cells = 5;
        var item = ViewBag.Properties[i];

        if (i == 0 || (i % 3 == 0))
        {
            @:<tr>
        }

        <td>
            <div class="col-sm-12">
                <a href="@Url.Action("Details", new { id=item.property_id })">
                    <img src=@Url.Content(String.Format("~/Image/{0}", item.image)) width="310" height="225" style="border-radius:2px;" />
                </a>

                <br />

                <p class="text-primary"><b>@Html.Raw(item.address)</b></p>

                @Html.Raw(item.postal + " " + item.city)

                <br />

                <b>
                    @Html.Raw(String.Format("{0:C2}", item.price))
                </b>

                <br />

                <a href="@Url.Action("Edit", new { id=item.property_id })">Edit |</a>
                <a href="@Url.Action("Delete", new { id=item.property_id })">Delete</a>
                    
                <br />


            </div>
        </td>

        if (i % 3 == 2 || i == (ViewBag.Properties.Count -1))
        {
            @:</tr>
        }
    }

</table>

       